<div class="gameboard-container" *ngIf="boardInfo">
  <div class="row" *ngFor="let row of boardInfo.board">
    <app-chip
      *ngFor="let chip of row; let columnIndex = index"
      [value]="chip"
      (click)="onClick(columnIndex)"
    ></app-chip>
  </div>
</div>
