@import "../../../styles.scss";

.gameContainer {
  padding: 2rem 0 2rem;
}

.currentPlayer {
  display: flex;
  justify-content: center;

  * {
    margin: 2px;
  }
}

.currentPlayerColor {
  min-width: 1.4rem;
  border-radius: 50px;
}

.player1 {
  background-color: red;
}

.player2 {
  background-color: blue;
}
