<div class="gameContainer">
  <div class="card top" *ngIf="multiplayerService.lookingForGame">
    <h2>Looking for game...</h2>
    <button routerLink="">Quit</button>
  </div>

  <div
    class="card top"
    *ngIf="
      !multiplayerService.lookingForGame &&
      !multiplayerService.gameInProgress &&
      multiplayerService.otherPlayerDisconnected
    "
  >
    <p>Other player disconnected!</p>
    <button routerLink="">Back to menu</button>
  </div>
  <ng-template class="card top" #connectionLost>
    <p>Lost connection to the server</p>
    <button routerLink="">Back to menu</button>
  </ng-template>

  <div *ngIf="multiplayerService.gameInProgress">
    <div *ngIf="multiplayerService.gameInfo">
      <div
        class="currentPlayer"
        *ngIf="multiplayerService.gameInfo.currentPlayerTurn; else finished"
      >
        <h3>
          Current player:
          {{ multiplayerService.gameInfo.currentPlayerTurn.name }}
        </h3>
        <div
          [ngClass]="
            multiplayerService.gameInfo.currentPlayerTurn.idInGame === false
              ? 'player1'
              : 'player2'
          "
          class="currentPlayerColor"
        ></div>
      </div>
      <ng-template #finished>
        <h3>Finished!</h3>
      </ng-template>
    </div>

    <app-gameboard
      [boardInfo]="multiplayerService.gameInfo.board"
      (columnClicked)="
        !multiplayerService.gameInfo.finished && makeMove($event)
      "
    ></app-gameboard>

    <div class="card center" *ngIf="multiplayerService.gameInfo.finished">
      <h2>Finished!</h2>
      <h4 *ngIf="multiplayerService.gameInfo.winner; else draw">
        Player: <b>{{ multiplayerService.gameInfo.winner.name }}</b> won!
      </h4>
      <ng-template #draw>
        <h4>Draw!</h4>
      </ng-template>
      <button routerLink="">Back to menu</button>
      <p>TODO: restart button</p>
    </div>
  </div>
</div>
