<div class="gameContainer" *ngIf="singlePlayerService.gameInfo">
  <div
    class="currentPlayer"
    *ngIf="singlePlayerService.gameInfo.currentPlayerTurn; else finished"
  >
    <h3>
      Current player: {{ singlePlayerService.gameInfo.currentPlayerTurn.name }}
    </h3>
    <div
      [ngClass]="
        singlePlayerService.gameInfo.currentPlayerTurn.idInGame === false
          ? 'player1'
          : 'player2'
      "
      class="currentPlayerColor"
    ></div>
  </div>
  <ng-template #finished>
    <h3>Finished!</h3>
  </ng-template>

  <app-gameboard
    [boardInfo]="singlePlayerService.gameInfo.board"
    (columnClicked)="!singlePlayerService.gameInfo.finished && makeMove($event)"
  ></app-gameboard>

  <div class="card center" *ngIf="singlePlayerService.gameInfo.finished">
    <h2>Finished!</h2>
    <h4 *ngIf="singlePlayerService.gameInfo.winner; else draw">
      Player: <b>{{ singlePlayerService.gameInfo.winner.name }}</b> won!
    </h4>
    <ng-template #draw>
      <h4>Draw!</h4>
    </ng-template>
    <button (click)="newGame()">Restart</button>
  </div>

  <div class="buttons">
    <button routerLink="/">Quit</button>
  </div>
</div>
