@import "../../../styles.scss";

.main-menu {
  margin: 0 auto;
  width: 320px;

  padding: 12px;

  h1 {
    padding: 24px;
    font-weight: 700;
  }

  .multiplayerToggle {
    display: flex;
    justify-content: center;
  }
}
