<div class="main-menu">
  <form [formGroup]="menuForm" (ngSubmit)="onSubmit(menuForm.value)">
    <div class="multiplayerToggle">
      <label for="multiplayerToggle">Multiplayer</label>
      <input
        class="toggle"
        type="checkbox"
        id="multiplayerToggle"
        formControlName="multiplayerToggle"
      />
    </div>

    <div *ngIf="!menuForm.value.multiplayerToggle; else multiplayer">
      <label for="player1Name">Player 1</label>
      <input
        type="text"
        id="player1Name"
        formControlName="player1Name"
        placeholder="Player 1"
        autocomplete="off"
      />
      <label for="player2Name">Player 2</label>
      <input
        type="text"
        id="player2Name"
        formControlName="player2Name"
        placeholder="Player 2"
        autocomplete="off"
      />
    </div>

    <ng-template #multiplayer>
      <label for="player1Name">Name</label>
      <input
        type="text"
        id="player1Name"
        formControlName="player1Name"
        placeholder="Player"
        autocomplete="off"
      />
    </ng-template>
    <button type="submit">Start Game</button>
  </form>
</div>
