@import "../styles.scss";

header section footer {
  width: 100%;
  margin: 0 auto;
}

main {
  flex-grow: 1;
  background: linear-gradient(
    0deg,
    rgba(203, 203, 203, 1) 0%,
    rgba(255, 255, 255, 1) 77%
  );
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
}

.main-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  height: 100px;

  @media only screen and (max-width: #{$small-screen-up}) {
    grid-template-columns: 1fr;
  }
}

.main-footer {
  height: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  background: linear-gradient(
    0deg,
    rgba(180, 180, 180, 1) 0%,
    rgba(203, 203, 203, 1) 100%
  );
  bottom: 0;
  left: 0;
  z-index: 100;
}

.left {
  text-align: left;
  padding-left: 10px;
}
.right {
  text-align: right;
  padding-right: 10px;
}

.title {
  display: inline-block;
  text-align: center;

  .logo {
    width: 50px;
    margin: 10px;
  }
}
