<body>
  <main>
    <header class="main-header">
      <div class="left"></div>
      <div class="title">
        <img class="logo" src="../assets/logo.png" />
        <h1>{{ title }}</h1>
      </div>
      <div class="right"></div>
    </header>
    <router-outlet></router-outlet>
  </main>
  <footer class="main-footer">
    <div>
      <h5 class="left"></h5>
    </div>
    <h5>Copyright</h5>
    <div>
      <h5 class="right">
        <a href="http://jeroenschrader.com">jeroenschrader.com</a>
      </h5>
    </div>
  </footer>
</body>
