/* You can add global styles to this file, and also import other style files */
$small-screen-up: 621px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$tiny-screen: 420px !default;
$small-screen: 620px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;
$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$extra-large-and-up: "only screen and (min-width : #{$large-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

* {
  margin: 0;
  padding: 0;
  letter-spacing: 0.06rem;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 20;
}

button {
  display: inline-block;
  padding: 0.7em 1.4em;
  margin: 0 0.3em 0.3em 0;

  border: none;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  color: #ffffff;
  background-color: #5381ff;
  box-shadow: 0.1em 0.1em 0.2em 0.01em rgba(0, 0, 0, 0.3);
  text-align: center;
  position: relative;
  letter-spacing: 0;

  :active {
    border: none;

    top: 0.1em;
  }

  @media all and (max-width: 30em) {
    display: block;
    margin: 0.4em auto;
  }
}

.card {
  position: relative;

  z-index: 20;
  width: 320px;

  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: black;

  padding-top: 12px;
  padding-bottom: 24px;

  h2 {
    padding: 20px;
  }

  h4 {
    padding: 10px;
  }
}

.card.top {
  margin: 20px auto;
}

.card.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media only screen and (max-width: #{$large-and-up}) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media only screen and (max-width: #{$medium-screen-up}) {
    top: 40%;
  }

  @media only screen and (max-width: #{$small-screen-up}) {
    top: 30%;
  }

  @media only screen and (max-width: #{$tiny-screen}) {
    top: 45%;
  }
}

form {
  margin: 20px;
}

label {
  display: block;
  margin-top: 0.7rem;
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
}

input {
  display: block;
  width: 90%;
  margin-bottom: 1rem;
  padding: 1.5rem 2rem;

  background-color: rgb(255, 255, 255);
  color: #333;
  border: none;

  font-size: 1.2rem;
}

.toggle {
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  margin: auto 0;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);

  :before {
    content: "";
    position: relative;
    top: 3px;
    left: 3px;
    width: 34px;
    height: 14px;
    display: block;
    background: gray;
    border-radius: 8px;
  }

  :checked {
    :before {
      background: black;
    }
  }
}
