@import "../../../styles.scss";

.chip-container {
  width: 100px;
  height: 100px;
  border-style: solid;
  border-color: black;
  border-width: 1px;

  @media only screen and (max-width: #{$large-screen-up}) {
    width: 100px;
    height: 100px;
  }

  @media screen and (max-width: #{$medium-screen-up}) {
    width: 76px;
    height: 76px;
  }

  @media screen and (max-width: #{$small-screen-up}) {
    width: 50px;
    height: 50px;
  }

  @media screen and (max-width: #{$tiny-screen}) {
    width: 35px;
    height: 35px;
  }
}

.chip {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

.player1 {
  background-color: red;
}

.player2 {
  background-color: blue;
}
